{% extends "the_usual_weather-base.html" %}

{% block content %}
    <div class="default-container">
        <h1>The Usual Weather</h1>
        <p><strong>Submit a new request <a href="{{ url_for('the_usual_weather.submit') }}">here!</a></strong></p>
        <p><strong>See past reports <a href="{{ url_for('the_usual_weather.report_list') }}">here</a></strong></p>
        <p><a href="https://github.com/AlexB-623/WeatherAnalysisApp" target="_blank">Original Project On Github</a></p>
        <p>{{ about|safe }}</p>
    </div>
{% endblock %}