{% extends "the_usual_weather-base.html" %}

{% block content %}
    <div class="default-container">
        <h1 class="tool-home"><a href="{{ url_for('the_usual_weather.the_usual_weather') }}">The Usual Weather</a> </h1>
        <p>Submit a new request <a href="{{ url_for('the_usual_weather.submit') }}">here</a> </p>
    <p>List of prior submissions:</p>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Submission Date</th>
                <th>Submission City</th>
                <th>Requested Month-Day</th>
                <th>GPS Coordinates</th>
                <th>Decoded City</th>
                <th>Decoded State</th>
                <th>Country Code</th>
                <th>Report Status</th>
            </tr>
        </thead>
        <tbody>
        {% for report in pretty_list %}
            <tr>
                <td>{{ report.requesting_user }}</td>
                <td>{{ report.submitted_date }}</td>
                <td>{{ report.submitted_city }}</td>
                <td>{{ report.requested_date }}</td>
                <td>{{ report.gps_coordinates }}</td>
                <td>{{ report.decoded_city }}</td>
                <td>{{ report.decoded_state }}</td>
                <td>{{ report.decoded_country }}</td>
                <td>{{ report.job_status }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}