{% extends "the_usual_weather-base.html" %}


{% block head_extra %}
    {% if refresh == 'true' %}
    <meta http-equiv="refresh" content="5">
    {% endif %}
{% endblock %}


{% block content %}
    <div class="default-container">
        <h1 class="tool-home"><a href="{{ url_for('the_usual_weather.the_usual_weather') }}">The Usual Weather</a> </h1>
        <h3>Report Record</h3>
        <div class="job-record">
            <div class="job-record-details">
                <table class="job-details">
                <tr>
                    <td>Requested by:</td>
                    <td>{{ report_request['requesting_user'] }}</td>
                </tr>
                <tr>
                    <td>Date Submitted:</td>
                    <td>{{ report_request['submitted_date'] }}</td>
                </tr>
                <tr>
                    <td>Requested Month-Day:</td>
                    <td>{{ report_request['requested_date'] }}</td>
                </tr>
                <tr>
                    <td>Submitted City:</td>
                    <td>{{ report_request['requested_city'] }}</td>
                </tr>
                <tr>
                    <td>Decoded Location (Map Link):</td>
                    <td><a href="https://www.google.com/maps/place/{{ report_request.gps_coordinates }}" target="_blank">
                        {{ report_request['decoded_city'] }},
                        {{ report_request['decoded_state'] }},
                        {{ report_request['decoded_country'] }},<br>
                        {{ report_request['gps_coordinates'] }}</a>
                    </td>
                </tr>
            </table>
            </div>
            <div class="job-record-status">
                <table class="job-status">
                    <tr>
                        <td>Report ID:</td>
                        <td>{{ report_request['job_id'] }}</td>
                    </tr>
                    <tr>
                        <td>Report Status:</td>
                        <td class="report-is-{{ report_request['job_status'] }}">{{ report_request['job_status'] }}</td>
                    </tr>
                </table>
            </div>
        </div>
        {% if report_details %}
        <div>
            <h4>Weather Analysis</h4>
            <table class="job-details">
                <tr>
                    <td>Location:</td>
                    <td>{{ report_details['location'] }}</td>
                </tr>
                <tr>
                    <td>Local Time Zone:</td>
                    <td>{{ report_request['decoded_timezone'] }}</td>
                </tr>
                <tr>
                    <td class="low-temp">Average Low Temp:</td>
                    <td class="low-temp">{{ report_details['average_low']|round(2) }} °F</td>
                </tr>
                <tr>
                    <td class="high-temp">Average High Temp:</td>
                    <td class="high-temp">{{ report_details['average_high']|round(2) }} °F</td>
                </tr>
                <tr>
                    <td>Cloudiness Probability:</td>
                    <td>{{ report_details['cloud_probability']|round(2) }}%</td>
                </tr>
                <tr>
                    <td>Average Cloud Cover:</td>
                    <td>{{ report_details['average_cloud_cover']|round(2) }}%</td>
                </tr>
                <tr>
                    <td>Windiness Probability:</td>
                    <td>{{ report_details['wind_probability']|round(2) }}%</td>
                </tr>
                <tr>
                    <td>Average Wind Speed:</td>
                    <td>{{ report_details['average_wind_speed']|round(2) }} MPH</td>
                </tr>
                <tr>
                    <td>Precipitation Probability:</td>
                    <td>{{ report_details['precipitation_probability']|round(2) }} %</td>
                </tr>
                <tr>
                    <td>Average Precipitation Amount:</td>
                    <td>{{ report_details['average_precipitation']|round(2) }} inches</td>
                </tr>
            </table>

        </div>

    <div>
        <h4>Report Data</h4>
        {{ report_data | safe }}
    </div>
    {% endif %}
    </div>
{% endblock %}