{% extends "base.html" %}
{% block title %}
    <title>Alex's Toolbox - Toolbox</title>
{% endblock %}

{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main/toolbox/toolbox.css') }}" />
{% endblock %}

{% block body_class %}toolbox-pages{% endblock %}

{% block content %}
    <h1>The Toolbox</h1>

    <div class="toolbox-grid-container">
        {% for tool_module in tool_modules %}
        <a class="toolbox-grid-item-{{ tool_module.name }}" href="{{ url_for(tool_module.url) }}">{{ tool_module.display_name }}</a>
        {% endfor %}
    </div>
{% endblock %}