{% extends "base.html" %}
{% block title %}
    <title>Alex's Toolbox - GibberGen</title>
{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gibbergen/gibbergen.css') }}" />
{% endblock %}

{% block content %}
    <h1>GibberGen - The Gibberish Generator</h1>
    <h3>Your term is:</h3>
    <div class="hacker-console">
        <p class="fancy-term-text">{{ term }}</p>
    </div>

    <p>Reload to generate a new term. Click <a href="{{ url_for('gibbergen.gibbergen_sampler') }} ">here</a> to get 10 terms.</p>
    <p>What is the deal with this? Well, it all started when...</p>

{% endblock %}