.body-default {
    background-color: #a6a6a6;
}

body {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.navbar {
    background-color: black;
    padding: 15px;
    width: fit-content;
    font-size: 1.5rem;
}

.navbar-item.nav-link {
    color: #00FFFF;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-item.nav-link:hover {
    color: #FF4500;
}


.navbar-item nav-link:visited {
  color: aqua;
  font-size: 1.5rem;
}

.container {
    background-color: antiquewhite;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 15px;
}



