.body-default {
    background-color: steelblue;
}

body {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.navbar {
    background-color: black;
    padding: 15px;
    width: fit-content;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.navbar-item.nav-link {
    color: #00FFFF;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-item.nav-link:hover {
    color: #FF4500;
}


.navbar-item nav-link:visited {
  color: aqua;
  font-size: 1.5rem;
}

.default-container {
    background-color: antiquewhite;
    padding: 15px;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
    font-size: large;
}

.results-display {
    background-color: antiquewhite;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 15px;
}

.action-button {
    font-size: 1.5rem;
    font-weight: bold;
}

th {
    background-color: #007bff;
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }


