.body-default {
    background-color: #a6a6a6;
}

.toolbox-pages {
    background-color: red;
}

.toolbox {
    padding: 25px;
    background-color: silver;
}

body {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

a:visited {
  color: royalblue; /* or whatever color you want */
}

.navbar {
    background-color: black;
    padding: 15px;
    width: fit-content;
    font-size: 1.5rem;
}

.navbar-item nav-link {
    color: aqua;
    font-size: 1.5rem;
}

h1 {
    color: blue;
    margin-bottom: 24px;
    font-size: 2rem;
}

