.body-default {
    background-color: steelblue;
}

body {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.navbar {
    background-color: black;
    padding: 15px;
    width: fit-content;
    font-size: 1.5rem;
    margin-bottom: 50px;
}

.navbar-item.nav-link {
    color: #00FFFF;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar-item.nav-link:hover {
    color: #FF4500;
}


.navbar-item nav-link:visited {
  color: aqua;
  font-size: 1.5rem;
}

.about-container {
    background-color: antiquewhite;
    padding: 15px;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}




