.lumberjack-pages {
  background-image: url('/static/css/lumberjack/images/pattern2.png');
  background-repeat: repeat; /* This is the default, tiles in all directions */
}

.log-display {
    background-color: antiquewhite;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 15px;
}

th {
    background-color: #007bff;
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }