.user-pages {
    background-color: #4169E1;
}

.form-label {
    font-size: 1.25rem;
    font-weight: bold;
}

.user-admin-display {
    background-color: antiquewhite;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 15px;
}
