.admin-pages {
    background-color: #FF4500;
}

th {
    background-color: #007bff;
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }

  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }