body {
    background-color: #a6a6a6;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}
.navbar {
    background-color: black;
}

.navbar-item nav-link {
    color: aqua;
}

h1 {
    color: blue;
    margin-bottom: 24px;
    font-size: 24px;
}

