.the_usual_weather-pages {
    background-color: skyblue;
}

.the_usual_weather-container {
    background-color: antiquewhite;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 15px;
}

.calendar {
    font-size: 1.5rem;
}