.the_usual_weather-pages {
    background-color: skyblue;
}


.calendar {
    font-size: 1.5rem;
}

.report-display {
    background-color: antiquewhite;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 15px;
}

.job-record {
    display: flex;
    gap: 20px
}

.job-record > .job-record-details {
    width: 450px;

}

.job-record > .job-record-status {
    flex: 1;
}

.report-is-Pending {
    background-color: gold;
    font-weight: bold;
}

.report-is-Processing {
    background-color: orangered;
    font-weight: bold;
}

.report-is-Complete {
    background-color: limegreen;
    font-weight: bold;
}

.report-is-Failed-Pending-Retry {
    background-color: orangered;
    font-weight: bold;
}

.report-is-Failed-Final {
    background-color: Red;
    font-weight: bold;
}