{% extends "lumberjack-base.html" %}

{% block content %}
    <div class="log-display">
        <h1>Lumberjack - The Toolbox Activity Log</h1>
        <table class="lumberjack-table">
  <thead>
    <tr>
      <th class="lumberjack-header">Log ID</th>
      <th class="lumberjack-header">Timestamp</th>
      <th class="lumberjack-header">User</th>
      <th class="lumberjack-header">Domain</th>
      <th class="lumberjack-header">Event</th>
    </tr>
  </thead>
  <tbody>
    {% for board in lumber %}
    <tr>
      <td class="lumberjack-row">{{ board.id }}</td>
      <td class="lumberjack-row">{{ board.timestamp }}</td>
      <td class="lumberjack-row">{{ board.user_id }}</td>
      <td class="lumberjack-row">{{ board.domain }}</td>
      <td class="lumberjack-row">{{ board.event }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
{% endblock %}