{% extends "lumberjack-base.html" %}

{% block content %}
    <div class="log-display">
        <h1>Lumberjack - The Toolbox Activity Log</h1>
        <table class="lumberjack-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
      <th>User ID</th>
      <th>Domain</th>
      <th>Event</th>
    </tr>
  </thead>
  <tbody>
    {% for board in lumber %}
    <tr>
      <td>{{ board.id }}</td>
      <td>{{ board.timestamp }}</td>
      <td>{{ board.user_id }}</td>
      <td>{{ board.domain }}</td>
      <td>{{ board.event }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
    </div>
{% endblock %}