.gibbergen-pages {
    background-color: aqua;
}

.hacker-console {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: black;
    width: fit-content;
}

.term-list {
    color: limegreen;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    list-style: none;
}

.fancy-term-text {
    background-color: black;
    color: orangered;
    font-size: 1.25rem;
    padding: 1px;
    margin-left: 3px;
}