.gibbergen-pages {
    background-color: #00FFFF;
}

.about-container {
    border: 6px solid #FF4500;
}

.hacker-console {
    padding: 10px;
    background-color: black;
    width: fit-content;
}

.term-text {
    color: #FF4500;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    list-style: none;
}