.gibbergen-pages {
    background-color: #00FFFF;
}

.gibbergen-display {
    background-color: antiquewhite;
    border: 6px solid #FF4500;
    margin-top: 50px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 15px;
}

.hacker-console {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    background-color: black;
    width: fit-content;
}

.term-text {
    color: #FF4500;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
    list-style: none;
}