.toolbox-pages {
    background-color: red;
}

.toolbox-billboard {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}

.styled-toolbox {
    font-size: 4.5rem;
    outline-color: #a6a6a6;
}

.toolbox-grid-container {
    background-color: silver;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 75px;
    max-width: 1200px;
    margin: 0 auto;
}

.toolbox-grid-item-lumberjack {
    background-image: url('/static/css/lumberjack/images/pattern2.png');
    aspect-ratio: 1 / 1;
    display: flex;
    padding: 25px;
    border-radius: 8px;
    text-align: center;
    align-items: center;      /* Centers vertically */
    justify-content: center;  /* Centers horizontally */
    font-size: 35px;
    text-transform: capitalize;
    color: aqua;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.toolbox-grid-item-gibbergen {
    background-color: #00FFFF;
    aspect-ratio: 1 / 1;
    display: flex;
    padding: 25px;
    border-radius: 8px;
    align-items: center;      /* Centers vertically */
    justify-content: center;  /* Centers horizontally */
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
    color: #FF4500;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.toolbox-grid-item-users {
    background-color: #4169E1;
    aspect-ratio: 1 / 1;
    display: flex;
    padding: 25px;
    border-radius: 8px;
    align-items: center;      /* Centers vertically */
    justify-content: center;  /* Centers horizontally */
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
    color: #FFFF00;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.toolbox-grid-item-the_usual_weather {
    background-color: yellow;
    aspect-ratio: 1 / 1;
    display: flex;
    padding: 25px;
    border-radius: 8px;
    align-items: center;      /* Centers vertically */
    justify-content: center;  /* Centers horizontally */
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.toolbox-grid-item-admin {
    background-color: orangered;
    aspect-ratio: 1 / 1;
    display: flex;
    padding: 25px;
    border-radius: 8px;
    align-items: center;      /* Centers vertically */
    justify-content: center;  /* Centers horizontally */
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;
    color: navy;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}