{% extends "user-base.html" %}

{% block content %}
    <div class="user-page-container">
        <form method="POST">
        {{ form.hidden_tag() }}
        <p class="form-label">{{ form.email.label }}:</p>{{ form.email }}
            <br>
        <p class="form-label">{{ form.username.label }}:</p>{{ form.username }}
            <br>
        <p class="form-label">{{ form.password.label }}:</p>{{ form.password }}
            <br>
        <p class="form-label">{{ form.pass_confirm.label }}:</p>{{ form.pass_confirm }}
            <br>
            <br>
        {{ form.submit(class="user-action-button") }}
    </form>
    </div>
{% endblock %}