{% extends "users-base.html" %}

{% block content %}
    <div class="user-admin-display">
    <h1>User Administration</h1>
    <div class="user-admin-table">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email Address</th>
                    <th>User ID #</th>
                    <th>Admin Access</th>
                    <th>Registration Date</th>
                    <th>Last Login</th>
                    <th>Banned?</th>
                    <th>Temp Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% if users %}
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.id }}</td>
                        <td>{{ user.is_admin }}</td>
                        <td>{{ user.registration_date }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>{{ user.banned }}</td>
                        <td>{{ user.expired_password }}</td>
                        <td><a href="{{ url_for('users.manage_user', user_id=user.id) }}">Manage User</a></td>
                    </tr>
                {% endfor %}
            {% elif user %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.id }}</td>
                        <td>{{ user.is_admin }}</td>
                        <td>{{ user.registration_date }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>{{ user.banned }}</td>
                        <td>{{ user.expired_password }}</td>
                        <td><a href="{{ url_for('users.lookup_users') }}">Back to all users...</a> </td>
                    </tr>
            {% endif %}
        </table>
    </div>
    {% block action %}
    {% endblock %}
    </div>
{% endblock %}