{% extends "users-base.html" %}

{% block content %}
    <div class="default-container">
        <div class="results-display">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email Address</th>
                    <th>User ID #</th>
                    <th>Admin Access</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.is_admin }}</td>
                <td><a href="{{ url_for('users.manage_user', user_id=user.id) }}">Manage User</a></td>
            </tr>
        </table>
    </div>
    </div>
{% endblock %}