{% extends "users-lookup_users.html" %}

{% block action %}
    <form class="user-manager" method="POST">
        <input type="hidden" name="user_id" value="{{ user.id }}">
        <button type="submit" name="action" value="ban">Ban User</button>
        <button type="submit" name="action" value="reset_password">Force Password Reset</button>
        <button type="submit" name="action" value="delete">Delete User</button>
        <button type="submit" name="action" value="promote">Promote to Admin</button>
        <button type="submit" name="action" value="demote">Demote</button>
    </form>
{% endblock %}

